.header {
    min-height: 50px;
    padding: 10px;
    background: aqua;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title {
        font-size: larger;
        font-weight: 700;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}